<!-- #Lista -->
<h1>List Movies <small>Angular 7 and Laravel 5.7</small></h1>
<table class="table table-hove table-primaryr">
  <thead>
    <tr>
      <th scope="col">id#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <th scope="row">{{ movie.id} }}</th>
      <td>{{ movie.name} }}</td>
      <td>{{ movie.descriptiion} }}</td>
      <td>{{ movie.genre} }}</td>
      <td>{{ movie.year} }}</td>
      <td>{{ movie.duration} }}</td>
    </tr>
  </tbody>
</table>

